.Job.card {
    margin: 8px 0px;
    color: #494848;
    max-height: 150px;
}

.Job-detail {
    text-align: left;
}

.JobCard-heading, h6.card-title, h5.card-title {
    display: inline;
}

.JobCard-company {
    font-size: 17px;
}

.JobCard-button {
    position: absolute;
    top: 66%;
    right: 2%;
}